<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fortune | Não Autorizado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form name="form1" class="box" th:action="@{/login}" method="post"  style="color: white">
        <h3 class="mt-5">Não autorizado</h3>
        <h4>Você não tem acesso a essa página.</h4>
        <button type="button" class="btn mt-5" style="background-color: white; color: #003e7e"><a th:href="@{/despesa}">Retornar página principal</a></button>
        <button type="button" class="btn mt-3" style="background-color: white; color: #003e7e"><a th:href="@{/logout}">Entrar com outro usuário</a></button>
    </form>
</div>
</div>
</body>
</html>
