<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Fortune | Despesas</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link href="../static/assets/css/now-ui-dashboard.css?v=1.5.0"  th:href="@{/assets/css/now-ui-dashboard.css}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
  <link href="../static/css/printable.css" th:href="@{/css/printable.css}" rel="stylesheet" />

</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">

      <div class="logo">
       <a href="http://www.creative-tim.com" class="simple-text logo-mini"> 
          FT
        </a>
       <a href="http://www.creative-tim.com" class="simple-text logo-normal"> 
          FORTUNE
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="./receita">
              <i class="now-ui-icons business_money-coins"></i>
              <p>Receita</p>
            </a>
          </li>
          <li>
            <a href="./investimento">
              <i class="now-ui-icons business_briefcase-24"></i>
              <p>Investimento</p>
            </a>
          </li>
          <li class="active">
            <a href="./despesa">
              <i class="now-ui-icons shopping_basket"></i>
              <p>Despesa</p>
            </a>
          </li>
          <li>
            <a href="./conversor">
              <i class="now-ui-icons arrows-1_refresh-69"></i>
              <p>Conversor Monetário</p>
            </a>
          </li>
          <li>
            <a th:href="@{/funcionario}">
              <i class="now-ui-icons users_single-02"></i>
              <p>Usuários</p>
            </a>
          </li>
          <li>
            <a th:href="@{/relatorio}">
              <i class="now-ui-icons files_paper"></i>
              <p>Relatório</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand">Despesas</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="nav">
              <buttom class="btn btn-primary col-md-12" onclick="printFunction()">
                <i class="now-ui-icons files_paper mr-3"></i>
                <p>Imprimir</p>
              </buttom>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">


          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Despesas</h5>
                <h4 class="card-title">Fixas</h4>
              </div>
              <div class="card-body">
                <h5>R$ <span th:text="${despesas.totalFixas}"></span></h5>
                <p>US$ <span th:text="${0}"></span></p>
                <p>€ <span th:text="${0}"></span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Despesas</h5>
                <h4 class="card-title">Variáveis</h4>
              </div>
              <div class="card-body">
                <h5>R$ <span th:text="${despesas.totalVariaveis}"></span></h5>
                <p>US$ <span th:text="${0}"></span></p>
                <p>€ <span th:text="${0}"></span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Despesas</h5>
                <h4 class="card-title">Extraordinárias</h4>
              </div>
              <div class="card-body">
                <h5>R$ <span th:text="${despesas.totalExtraordinarias}"></span></h5>
                <p>US$ <span th:text="${0}"></span></p>
                <p>€ <span th:text="${0}"></span></p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Despesas</h5>
                <h4 class="card-title">Regulares</h4>
              </div>
              <div class="card-body">
                <h5>R$ <span th:text="${despesas.totalRegulares}"></span></h5>
                <p>US$ <span th:text="${0}"></span></p>
                <p>€ <span th:text="${0}"></span></p>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Cadastrar Despesa
              </div>
              <div class="card-body ">
                  <form th:action="@{/salva-despesa}" th:object="${despesa}" method="post">
                    <div class="row">
                      
                      <div class="col-md-6 px-3">
                        <div class="form-group">
                          <label>Nome</label>
                          <input type="text" class="form-control" placeholder="Nome" name="nome" required>
                        </div>
                      </div>
                      <div class="col-md-6 px-3">
                        <div class="form-group">
                          <label>Setor</label>
                          <input type="text" class="form-control" placeholder="Setor" name="setor">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 px-3">
                        <div class="form-group">
                          <label>Descrição</label>
                          <input type="text" min="0" class="form-control" placeholder="Descrição" name="descricao">
                        </div>
                      </div>
                      <div class="col-md-2 px-3">
                        <div class="form-group">
                          <label>Data</label>
                          <input type="date" min="0" class="form-control" placeholder="Data" name="dataVencimento" required>
                        </div>
                      </div>
                      <div class="col-md-2 px-3">
                        <div class="form-group">
                          <label>Tipo Despesa</label>
                          <select class="form-control" placeholder="Despesa" name="tipodespesa" required>
                            <option value="">Selecione</option>
                            <option value="FIXAS">FIXAS</option>
                            <option value="VARIAVEIS">VARIAVEIS</option>
                            <option value="EXTRAORDINARIAS">EXTRAORDINARIAS</option>
                            <option value="REGULARES">REGULARES</option>
                        </select>
                        </div>
                      </div>
                      <div class="col-md-2 px-3">
                        <div class="form-group">
                          <label>Tipo Moeda</label>
                          <select class="form-control" placeholder="Moeda" name="tipomoeda" required>
                            <option value="">Selecione</option>
                            <option value="REAL">REAL</option>
                            <option value="EURO">EURO</option>
                            <option value="DOLAR">DÓLAR</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2 px-3">
                        <div class="form-group">
                          <label>Valor</label>
                          <input type="number" step="0.01" class="form-control" placeholder="Valor" name="valor" required>
                        </div>
                      </div>
                    </div>
                    <div class="alert alert-warning mt-4" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
                      <b> Atenção - </b>
                      <span th:text="${mensagem}"></span>
                    </div>
                    <div class="row">
                      <div class="col-md-2 px-3 ml-auto">
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary form-control design_app">Cadastrar</button>
                        </div>
                      </div>
                      <div class="col-md-2 px-3">
                        <div class="form-group">
                          <button type="reset" class="btn btn-secondary form-control design_app" value="Limpar">Limpar</button>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Lista de Despesas Fixas
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Setor</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Moeda</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr  th:each="despesa : ${despesas.despesasFixas}">

                        <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                        <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                        <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                        <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                        <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                        <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                        <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                        <td data-label="Editar" class="row-adjustments-line">
                          <a th:href="@{/editar-despesa/{codigo}(codigo=${despesa.codigo})}" class="btn btn-primary col-md-5" style="background-color: #003e7e; color: white">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                          </a>
                          <a th:href="@{/delete_despesa(codigo=${despesa.codigo})}" style="color: white!important;"  class="btn btn-danger col-md-5">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                      <tr th:if="${despesas.despesasFixas.empty}">
                          <div class="alert alert-info mt-4">
                            <span><b> Info - </b> Nenhuma despesa fixa cadastrada!</span>
                          </div>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Lista de Despesas Variáves
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Setor</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Moeda</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="despesa : ${despesas.despesasVariaveis}">

                      <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                      <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                      <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                      <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                      <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                      <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                      <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                      <td data-label="Editar" class="row-adjustments-line">
                        <a th:href="@{/editar-despesa/{codigo}(codigo=${despesa.codigo})}" class="btn btn-primary col-md-5" style="background-color: #003e7e; color: white">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a th:href="@{/delete_despesa(codigo=${despesa.codigo})}" style="color: white!important;"  class="btn btn-danger col-md-5">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr th:if="${despesas.despesasVariaveis.empty}">
                      <div class="alert alert-info mt-4">
                        <span><b> Info - </b> Nenhuma despesa variável cadastrada!</span>
                      </div>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Lista de Despesas Extraordinárias
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Setor</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Moeda</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="despesa : ${despesas.despesasExtraordinarias}">

                      <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                      <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                      <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                      <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                      <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                      <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                      <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                      <td data-label="Editar" class="row-adjustments-line">
                        <a th:href="@{/editar-despesa/{codigo}(codigo=${despesa.codigo})}" class="btn btn-primary col-md-5" style="background-color: #003e7e; color: white">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a th:href="@{/delete_despesa(codigo=${despesa.codigo})}" style="color: white!important;"  class="btn btn-danger col-md-5">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr th:if="${despesas.despesasExtraordinarias.empty}">
                      <div class="alert alert-info mt-4">
                        <span><b> Info - </b> Nenhuma despesa extraordinária cadastrada!</span>
                      </div>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>



          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Lista de Despesas Regulares
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Setor</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Moeda</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="despesa : ${despesas.despesasRegulares}">

                      <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                      <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                      <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                      <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                      <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                      <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                      <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                      <td data-label="Editar" class="row-adjustments-line">
                        <a th:href="@{/editar-despesa/{codigo}(codigo=${despesa.codigo})}" class="btn btn-primary col-md-5" style="background-color: #003e7e; color: white">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a th:href="@{/delete_despesa(codigo=${despesa.codigo})}" style="color: white!important;"  class="btn btn-danger col-md-5">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    <tr th:if="${despesas.despesasRegulares.empty}">
                      <div class="alert alert-info mt-4">
                        <span><b> Info - </b> Nenhuma despesa regular cadastrada!</span>
                      </div>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Versão impressa -->
  <div class="printable d-none d-print-block">
    <div class="content">
      <div class="row">
        <div class="col-3">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Despesas</h5>
              <h4 class="card-title">Fixas</h4>
            </div>
            <div class="card-body">
              <h3>R$ <span th:text="${despesas.totalFixas}"></span></h3>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Despesas</h5>
              <h4 class="card-title">Variáveis</h4>
            </div>
            <div class="card-body">
              <h3>R$ <span th:text="${despesas.totalVariaveis}"></span></h3>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Despesas</h5>
              <h4 class="card-title">Extraordinárias</h4>
            </div>
            <div class="card-body">
              <h3>R$ <span th:text="${despesas.totalExtraordinarias}"></span></h3>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Despesas</h5>
              <h4 class="card-title">Regulares</h4>
            </div>
            <div class="card-body">
              <h3>R$ <span th:text="${despesas.totalRegulares}"></span></h3>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              Lista de Despesas Fixas
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Moeda</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  th:each="despesa : ${despesas.despesasFixas}">

                    <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                    <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                    <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                    <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                    <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                    <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                    <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                  </tr>
                  <tr th:if="${despesas.despesasFixas.empty}">
                    <div class="alert alert-info mt-4">
                      <span><b> Info - </b> Nenhuma despesa fixa cadastrada!</span>
                    </div>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              Lista de Despesas Variáves
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Moeda</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  th:each="despesa : ${despesas.despesasVariaveis}">

                    <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                    <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                    <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                    <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                    <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                    <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                    <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                  </tr>
                  <tr th:if="${despesas.despesasVariaveis.empty}">
                    <div class="alert alert-info mt-4">
                      <span><b> Info - </b> Nenhuma despesa variável cadastrada!</span>
                    </div>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              Lista de Despesas Extraordinárias
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Moeda</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  th:each="despesa : ${despesas.despesasExtraordinarias}">

                    <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                    <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                    <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                    <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                    <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                    <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                    <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                  </tr>
                  <tr th:if="${despesas.despesasExtraordinarias.empty}">
                    <div class="alert alert-info mt-4">
                      <span><b> Info - </b> Nenhuma despesa extraordinária cadastrada!</span>
                    </div>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              Lista de Despesas Regulares
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Moeda</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr  th:each="despesa : ${despesas.despesasRegulares}">

                    <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                    <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                    <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                    <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                    <td data-label="Moeda"><span th:utext="${despesa.tipomoeda}"></span></td>
                    <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                    <td data-label="Data"><span  th:utext="${despesa.dataVencimento}"></span></td>
                  </tr>
                  <tr th:if="${despesas.despesasRegulares.empty}">
                    <div class="alert alert-info mt-4">
                      <span><b> Info - </b> Nenhuma despesa regular cadastrada!</span>
                    </div>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

    </div>
  </div>
  <script>
    function printFunction() {
      window.print();
    }
  </script>
  <script th:src="@{/assets/js/core/jquery.min.js}"></script>
  <script th:src="@{/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
  <script th:src="@{/assets/js/plugins//bootstrap-notify.js}"></script>
  <script th:src="@{/assets//demo/demo.js}"></script>
  <script th:src="@{assets/js/now-ui-dashboard.js?v=1.0.1}"></script>
  <script th:src="@{assets/demo/demo.js}"></script>
</body>
</html>
