<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Fortune | Editar Despesa</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link href="../static/assets/css/now-ui-dashboard.css?v=1.5.0"  th:href="@{/assets/css/now-ui-dashboard.css}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">

      <div class="logo">
       <a href="http://www.creative-tim.com" class="simple-text logo-mini"> 
          FT
        </a>
       <a href="http://www.creative-tim.com" class="simple-text logo-normal"> 
          FORTUNE
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="./receita">
              <i class="now-ui-icons business_money-coins"></i>
              <p>Receita</p>
            </a>
          </li>
          <li>
            <a href="./investimento">
              <i class="now-ui-icons business_briefcase-24"></i>
              <p>Investimento</p>
            </a>
          </li>
          <li class="active">
            <a href="./despesa">
              <i class="now-ui-icons shopping_basket"></i>
              <p>Despesa</p>
            </a>
          </li>
          <li>
            <a thref="./conversor">
              <i class="now-ui-icons arrows-1_refresh-69"></i>
              <p>Conversor Monetário</p>
            </a>
          </li>
          <li>
            <a th:href="@{/funcionario}">
              <i class="now-ui-icons users_single-02"></i>
              <p>Usuários</p>
            </a>
          </li>
          <li class="active-pro">
            <a th:href="@{/logout}">
              <i class="now-ui-icons arrows-1_minimal-left"></i>
              <p>Sair</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand">Despesas</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#administrador">
                  <i class="now-ui-icons ui-2_settings-90"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Administrador</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Editar dados da despesa <span th:text="${despesa.nome}"></span>
              </div>
              <div class="card-body ">
                <form th:action="@{/update_despesa/{codigo}(codigo=${despesa.codigo})}" th:object="${despesa}" method="post">
                  <div class="row">
                    <div class="col-md-6 px-3">
                      <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" name="nome" th:value="${despesa.nome}" required>
                      </div>
                    </div>
                    <div class="col-md-6 px-3">
                      <div class="form-group">
                        <label>Setor</label>
                        <input type="text" class="form-control" placeholder="Setor" name="setor" th:value="${despesa.setor}" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 px-3">
                      <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" min="0" class="form-control" placeholder="Descrição" name="descricao" th:value="${despesa.descricao}">
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                        <label>Vencimento</label>
                        <input type="date" min="0" class="form-control" placeholder="Vencimento" name="dataVencimento" th:value="${despesa.dataVencimento}" required>
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                        <label>Tipo Despesa</label>
                        <select class="form-control" placeholder="Despesa" name="tipodespesa" th:value="${despesa.tipodespesa}" required>
                          <option value="">Selecione</option>
                          <option value="FIXAS">FIXAS</option>
                          <option value="VARIAVEIS">VARIAVEIS</option>
                          <option value="EXTRAORDINARIAS">EXTRAORDINARIAS</option>
                          <option value="REGULARES">REGULARES</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                        <label>Valor</label>
                        <input type="number" step="0.01" class="form-control" placeholder="Valor" name="valor" th:value="${despesa.valor}" required>
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                      </div>
                    </div>
                  </div>
                  <div class="alert alert-warning mt-4" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
                    <b> Atenção - </b>
                    <span th:text="${mensagem}"></span>
                  </div>
                  <div class="row">
                    <div class="col-md-2 px-3 ml-auto">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control design_app">Atualizar</button>
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                        <button type="reset" class="btn btn-secondary form-control design_app" value="Limpar">Limpar</button>
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                        <a th:href="@{/despesa}" class="btn btn-secondary form-control design_app" value="Limpar" style="background-color: #003e7e; color: white">Voltar</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Dados da despesa de <span th:text="${despesa.nome}"></span>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Setor</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Vencimento</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Tipo</th>
                      <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th data-label="Código" scope="row"><span th:utext="${despesa.codigo}"></span></th>
                      <td data-label="Nome"><span th:utext="${despesa.nome}"></span></td>
                      <td data-label="Setor"><span th:utext="${despesa.setor}"></span></td>
                      <td data-label="Descrição"><span th:utext="${despesa.descricao}"></span></td>
                      <td data-label="Vencimento"><span  th:utext="${despesa.dataVencimento}"></span></td>
                      <td data-label="Valor">R$ <span th:utext="${despesa.valor}"></span></td>
                      <td data-label="Tipo"><span th:utext="${despesa.tipodespesa}"></span></td>
                    </tr>
                    <tr th:if="${despesa == null}">
                      <div class="alert alert-info mt-4">
                        <span><b> Info - </b> Nenhuma despesa cadastrada!</span>
                      </div>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

  <!-- Chart JS -->
  <script src="../static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/assets/demo/demo.js"></script>
</body>
</html>
