<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Fortune | Editar Receita</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../static/assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link href="../static/assets/css/now-ui-dashboard.css?v=1.5.0"  th:href="@{/assets/css/now-ui-dashboard.css}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">

      <div class="logo">
        <a class="simple-text logo-mini">
          FT
        </a>
        <a class="simple-text logo-normal">
          FORTUNE
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a thref="@{/receita}">
              <i class="now-ui-icons business_money-coins"></i>
              <p>Receita</p>
            </a>
          </li>
          <li>
            <a thref="@{/investimento}">
              <i class="now-ui-icons business_briefcase-24"></i>
              <p>Investimento</p>
            </a>
          </li>
          <li class="active">
            <a thref="@{/despesa}">
              <i class="now-ui-icons shopping_basket"></i>
              <p>Despesa</p>
            </a>
          </li>
          <li>
            <a th:href="@{/conversor}">
              <i class="now-ui-icons arrows-1_refresh-69"></i>
              <p>Conversor Monetário</p>
            </a>
          </li>
          <li>
            <a th:href="@{/perfis}">
              <i class="now-ui-icons users_single-02"></i>
              <p>Perfis</p>
            </a>
          </li>
          <li>
            <a th:href="@{/relatorio}">
              <i class="now-ui-icons files_paper"></i>
              <p>Relatório</p>
            </a>
          </li>
          <li class="active-pro">
            <a th:href="@{/logout}">
              <i class="now-ui-icons arrows-1_minimal-left"></i>
              <p>Sair</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand">Receitas</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#administrador">
                  <i class="now-ui-icons ui-2_settings-90"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Administrador</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Editar dados da receita <span th:text="${receita.nome}"></span>
              </div>
              <div class="card-body ">
                <form th:action="@{/update_receita/{codigo}(codigo=${receita.codigo})}" th:object="${receita}" method="post">
                  <div class="row">
                    <div class="col-md-6 px-3">
                      <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" name="nome" th:value="${receita.nome}" required>
                      </div>
                    </div>
                    <div class="col-md-6 px-3">
                      <div class="form-group">
                        <label>Descrição</label>
                        <input type="text" min="0" class="form-control" placeholder="Descrição" name="descricao" th:value="${receita.descricao}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 px-3">
                      <div class="form-group">
                        <label>Valor</label>
                        <input type="number" step="0.01" class="form-control" placeholder="Valor" name="valor" th:value="${receita.valor}" required>
                      </div>
                    </div>
                    <div class="col-md-4 px-3">
                      <div class="form-group">
                        <label>Tipo Moeda</label>
                        <select class="form-control" placeholder="Moeda" name="tipomoeda" th:value="${receita.tipomoeda}" required>
                          <option value="">Selecione</option>
                          <option value="REAL">REAL</option>
                          <option value="EURO">EURO</option>
                          <option value="DOLAR">DÓLAR</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4 px-3">
                      <div class="form-group">
                        <label>Data</label>
                        <input type="date" min="0" class="form-control" placeholder="data" name="data" th:value="${receita.data}" required>
                      </div>
                    </div>
                  </div>
                  <div class="alert alert-warning mt-4" role="alert" th:if="${not #strings.isEmpty(mensagem)}">
                    <b> Atenção - </b>
                    <span th:text="${mensagem}"></span>
                  </div>
                  <div class="row">
                    <div class="col-md-2 px-3 ml-auto">
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control design_app">Atualizar</button>
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                        <button type="reset" class="btn btn-secondary form-control design_app" value="Limpar">Limpar</button>
                      </div>
                    </div>
                    <div class="col-md-2 px-3">
                      <div class="form-group">
                        <a th:href="@{/receita}" class="btn btn-secondary form-control design_app" value="Voltar" style="background-color: #003e7e; color: white">Voltar</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                Dados da receita de <span th:text="${receita.nome}"></span>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Descrição</th>
                      <th scope="col">Valor</th>
                      <th scope="col">Tipo Moeda</th>
                      <th scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th data-label="Código" scope="row"><span th:utext="${receita.codigo}"></span></th>
                      <td data-label="Nome"><span th:utext="${receita.nome}"></span></td>
                      <td data-label="Descrição"><span th:utext="${receita.descricao}"></span></td>
                      <td data-label="Valor"><span th:utext="${receita.valorformatado}"></span></td>
                      <td data-label="Tipo Moeda"><span th:utext="${receita.tipomoeda}"></span></td>
                      <td data-label="Data"><span  th:utext="${receita.dataformatada}"></span></td>
                    </tr>
                    <tr th:if="${receita == null}">
                      <div class="alert alert-info mt-4">
                        <span><b> Info - </b> Nenhuma receita cadastrada!</span>
                      </div>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script th:src="@{/assets/js/core/jquery.min.js}"></script>
  <script th:src="@{/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
  <script th:src="@{/assets/js/plugins//bootstrap-notify.js}"></script>
  <script th:src="@{/assets//demo/demo.js}"></script>
  <script th:src="@{assets/js/now-ui-dashboard.js?v=1.0.1}"></script>
  <script th:src="@{assets/demo/demo.js}"></script>
</body>
</html>
